body{
	height:650px;
}
title{
	font-size:30px;
}
.container{
	padding:0 60px;
	
	
}
.content .container div{
	margin-top: 10px;
}
.content .container .ll{
	border: 1px solid #CCC;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: "微软雅黑";
	border-radius:25px;
	font-size: 20px;
}
.content .container .icon{
	height:22px;
	text-align: center;
	
}
