
    .text, .header{
	font-size:20px;
	font-family: "微软雅黑";
	
	
	}
	.header{
		height:50px;
		line-height: 50px;
		border-bottom:2px solid #d3d4d7;
		border-top:2px solid #d3d4d7;
		background:#f3f4f5;
		margin:0 auto;
		text-align:center;
		
		color:rgb(223,223,223);
	
	}
	div.container{
		margin-top: 20px;
		color: #000000;
	}



